{{ define "main" }}


    <!-- Site Accessibility Navigation --> 
    <ul class="sr-only">
        <li>
            <a href="#maincontent">Skip to main content</a>
        </li>
        <li>
            <a href="#about">Skip to "About the Women's Economic Development Lab"</a>
        </li>
    </ul>
    
    <!-- Site Header --> 
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white py-sm-4 px-sm-5">
            <a class="navbar-brand" href="#">
                <img src='{{ "images/brand/wed-lab.png" | relURL }}' width="120" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#purpose">Purpose</a>
                    </li>
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="#activities">Activities</a>
                    </li>-->
                     <li class="nav-item active">
                        <a class="nav-link" href="#research">Research</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#partners">Partners</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#workwithus">Work with us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main id="maincontent" role="main" property="mainContentOfPage">
        
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-4">
                        <img src='{{ "/images/brand/wed-lab-globe-large.png" | relURL }}' class="img-fluid" alt="" />
                    </div>
                    
                    <div class="col-md-8 p-lg-5 my-5">
                        <h1 class="display-2 text-dark-turqoise">Women's Empowerment in Development Lab</h1>
                        <p class="text-gray-900 font-weight-light font-size-r1-5">Run by the Institute for the Study of International Development. This Lab is bridging the gap between academics, practitioners and policy makers in Canada and globally on issues related to women's empowerment in developing countries.</p>
                        <p><a class="btn btn-lg btn-red" href="#workwithus">Work with us</a></p>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <section id="about">
            <div class="container-fluid py-5 bg-dark-turqoise">
                <div class="container py-5 text-white text-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-9">
                            <h2 class="display-3 pb-4">About the Lab</h2>
                            <p class="font-size-r1-5">The Women’s Empowerment in Development (WED) Lab is housed at McGill University’s Institute for the Study of International Development (ISID). It is facilitated by <abbr>Dr</abbr>.  Sonia Laszlo, Lab Program Lead and Director at ISID.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="purpose">
            <div class="container-fluid py-5">
                <div class="container py-5">
                    <h2 class="display-3 text-dark-turqoise pb-5 text-center">Purpose of the Lab</h2>
                    <ul class="list-unstyled row">
                        <li class="col-md-6 pb-3">
                            <div class="d-flex flex-row">
                                <div class="px-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                        <path style="fill:#ffffff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
								C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
								c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
								c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
								c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
								c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                    </svg>
                                </div>
                                <div class="text-secondary">
                                    <h3 class="font-weight-bold font-size-r1-9">Advance knowledge</h3>
                                    <p class="text-secondary font-size-r1-1">Advance knowledge creation, dissemination and outreach on issues of women’s empowerment in global development.</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-6 pb-3">
                            <div class="d-flex flex-row">
                                <div class="px-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                        <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
								C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
								c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
								c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
								c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
								c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                    </svg>
                                </div>
                                <div class="text-secondary">
                                    <h3 class="font-weight-bold font-size-r1-9">Strengthen the evidence-base</h3>
                                    <p class="text-secondary font-size-r1-1">Strengthen the evidence-base on what works, and does not work, to empower women in developing countries.</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-6 pb-3">
                            <div class="d-flex flex-row">
                                <div class="px-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                        <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
								C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
								c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
								c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
								c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
								c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                    </svg>
                                </div>
                                <div class="text-secondary">
                                    <h3 class="font-weight-bold font-size-r1-9">Understand the role of policy</h3>
                                    <p class="text-secondary font-size-r1-1">Understand how social and economic policy can help in providing real development solutions to eliminate global gender inequality.</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-6 pb-3">
                            <div class="d-flex flex-row">
                                <div class="px-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                        <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
								C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
								c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
								c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
								c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
								c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                    </svg>
                                </div>
                                <div class="text-secondary">
                                    <h3 class="font-weight-bold font-size-r1-9">Enable experts</h3>
                                    <p class="text-secondary font-size-r1-1">Enable researchers, policy makers and practitioners, including <abbr>CSO</abbr>s and <abbr>NGO</abbr>s, to address global forms of gender inequality.</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-6 pb-0">
                            <div class="d-flex flex-row">
                                <div class="px-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                        <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
								C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
								c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
								c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
								c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
								c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                    </svg>
                                </div>
                                <div class="text-secondary">
                                    <h3 class="font-weight-bold font-size-r1-9">Eliminate barriers</h3>
                                    <p class="text-secondary font-size-r1-1">Understand and eliminate the barriers that prevent women in developing countries from reaching their full potential, and from fully engaging with the economy, political systems and communities in which they live.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
        </section>
        
        <!--<section id="activities">
            <div class="container-fluid py-5 bg-light">
                <h2 class="display-3 text-red py-5 text-center">Activities</h2>
                <div class="row text-center">
                    <div class="col">
                        <div class="p-2 text-dark-turqoise bg-white border h-100" style="border: 1px solid #DC3833;border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red mt-2 mb-3 p-2" style="width:5rem; height:5rem;" viewBox="0 0 20 20">
                                <path style="fill:#ffffff" d="M15.573,11.624c0.568-0.478,0.947-1.219,0.947-2.019c0-1.37-1.108-2.569-2.371-2.569s-2.371,1.2-2.371,2.569c0,0.8,0.379,1.542,0.946,2.019c-0.253,0.089-0.496,0.2-0.728,0.332c-0.743-0.898-1.745-1.573-2.891-1.911c0.877-0.61,1.486-1.666,1.486-2.812c0-1.79-1.479-3.359-3.162-3.359S4.269,5.443,4.269,7.233c0,1.146,0.608,2.202,1.486,2.812c-2.454,0.725-4.252,2.998-4.252,5.685c0,0.218,0.178,0.396,0.395,0.396h16.203c0.218,0,0.396-0.178,0.396-0.396C18.497,13.831,17.273,12.216,15.573,11.624 M12.568,9.605c0-0.822,0.689-1.779,1.581-1.779s1.58,0.957,1.58,1.779s-0.688,1.779-1.58,1.779S12.568,10.427,12.568,9.605 M5.06,7.233c0-1.213,1.014-2.569,2.371-2.569c1.358,0,2.371,1.355,2.371,2.569S8.789,9.802,7.431,9.802C6.073,9.802,5.06,8.447,5.06,7.233 M2.309,15.335c0.202-2.649,2.423-4.742,5.122-4.742s4.921,2.093,5.122,4.742H2.309z M13.346,15.335c-0.067-0.997-0.382-1.928-0.882-2.732c0.502-0.271,1.075-0.429,1.686-0.429c1.828,0,3.338,1.385,3.535,3.161H13.346z"></path>
                            </svg>
                            <h3 class="text-secondary font-weight-bold">Professors of Practice</h3>
                            <p class="text-secondary">We appoint and host distinguished professionals with significant practical achievements in promoting women’s empowerment in development.</p>
                        </div>
                    </div>
                     <div class="col">
                        <div class="p-2 text-dark-turqoise bg-white border h-100" style="border: 1px solid #DC3833;border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red mt-2 mb-3 p-2" style="width:5rem; height:5rem;" viewBox="0 0 20 20">
                                <path style="fill:#ffffff" d="M15.573,11.624c0.568-0.478,0.947-1.219,0.947-2.019c0-1.37-1.108-2.569-2.371-2.569s-2.371,1.2-2.371,2.569c0,0.8,0.379,1.542,0.946,2.019c-0.253,0.089-0.496,0.2-0.728,0.332c-0.743-0.898-1.745-1.573-2.891-1.911c0.877-0.61,1.486-1.666,1.486-2.812c0-1.79-1.479-3.359-3.162-3.359S4.269,5.443,4.269,7.233c0,1.146,0.608,2.202,1.486,2.812c-2.454,0.725-4.252,2.998-4.252,5.685c0,0.218,0.178,0.396,0.395,0.396h16.203c0.218,0,0.396-0.178,0.396-0.396C18.497,13.831,17.273,12.216,15.573,11.624 M12.568,9.605c0-0.822,0.689-1.779,1.581-1.779s1.58,0.957,1.58,1.779s-0.688,1.779-1.58,1.779S12.568,10.427,12.568,9.605 M5.06,7.233c0-1.213,1.014-2.569,2.371-2.569c1.358,0,2.371,1.355,2.371,2.569S8.789,9.802,7.431,9.802C6.073,9.802,5.06,8.447,5.06,7.233 M2.309,15.335c0.202-2.649,2.423-4.742,5.122-4.742s4.921,2.093,5.122,4.742H2.309z M13.346,15.335c-0.067-0.997-0.382-1.928-0.882-2.732c0.502-0.271,1.075-0.429,1.686-0.429c1.828,0,3.338,1.385,3.535,3.161H13.346z"></path>
                            </svg>
                            <h3 class="text-secondary font-weight-bold">Post-Doctoral Fellows</h3>
                            <p class="text-secondary">We provide support and supervision for individuals who have completed a doctoral degree and want the opportunity for further mentorship, practical training and research experience.</p>
                        </div>
                    </div>
                     <div class="col ">
                        <div class="p-2 text-dark-turqoise bg-white border h-100" style="border: 1px solid #DC3833;border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red mt-2 mb-3 p-2" style="width:5rem; height:5rem;" viewBox="0 0 20 20">
                                <path style="fill:#ffffff" d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
                            </svg>
                            <h3 class="text-secondary font-weight-bold">Seed Research Grants</h3>
                            <p class="text-secondary">We offer funding support for junior faculty members and graduate students to conduct research on women’s empowerment in developing countries.</p>
                        </div>
                    </div>
                     <div class="col ">
                        <div class="p-2 text-dark-turqoise bg-white border h-100" style="border: 1px solid #DC3833;border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red mt-2 mb-3 p-2" style="width:5rem; height:5rem;" viewBox="0 0 20 20">
                                <path style="fill:#ffffff" d="M17.638,6.181h-3.844C13.581,4.273,11.963,2.786,10,2.786c-1.962,0-3.581,1.487-3.793,3.395H2.362c-0.233,0-0.424,0.191-0.424,0.424v10.184c0,0.232,0.191,0.424,0.424,0.424h15.276c0.234,0,0.425-0.191,0.425-0.424V6.605C18.062,6.372,17.872,6.181,17.638,6.181 M13.395,9.151c0.234,0,0.425,0.191,0.425,0.424S13.629,10,13.395,10c-0.232,0-0.424-0.191-0.424-0.424S13.162,9.151,13.395,9.151 M10,3.635c1.493,0,2.729,1.109,2.936,2.546H7.064C7.271,4.744,8.506,3.635,10,3.635 M6.605,9.151c0.233,0,0.424,0.191,0.424,0.424S6.838,10,6.605,10c-0.233,0-0.424-0.191-0.424-0.424S6.372,9.151,6.605,9.151 M17.214,16.365H2.786V7.029h3.395v1.347C5.687,8.552,5.332,9.021,5.332,9.575c0,0.703,0.571,1.273,1.273,1.273c0.702,0,1.273-0.57,1.273-1.273c0-0.554-0.354-1.023-0.849-1.199V7.029h5.941v1.347c-0.495,0.176-0.849,0.645-0.849,1.199c0,0.703,0.57,1.273,1.272,1.273s1.273-0.57,1.273-1.273c0-0.554-0.354-1.023-0.849-1.199V7.029h3.395V16.365z"></path>
                            </svg>
                            <h3 class="text-secondary font-weight-bold">Executive Education</h3>
                            <p class="text-secondary">Our executive education program offers innovative certificate training programs for professionals.</p>
                        </div>
                    </div>
                     <div class="col">
                        <div class="p-2 text-dark-turqoise bg-white border h-100" style="border: 1px solid #DC3833;border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-red mt-2 mb-3 p-2" style="width:5rem; height:5rem;" viewBox="0 0 20 20">
                                <path style="fill:#ffffff" d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
                            </svg>
                            <h3 class="text-secondary font-weight-bold">Research and Policy Development</h3>
                            <p class="text-secondary">We disseminate working papers and policy briefs to showcase research results, identify policy implications, and advance scientific knowledge on women’s empowerment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->

        <!--<section>
            <div class="container-fluid bg-light py-5">
                <div class="container py-5">
                    <h2 class="display-3 text-red text-center pb-5">Ongoing Research</h2>
                    <div class="row justify-content-center no-gutters">
                        <div class="col-10 col-md-4 h-100 bg-white">
                            <img class="img-fluid" src='{{ "/images/programs/tanzania.jpg" | relURL }}' style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;" alt="">
                        </div>
                        <div class="col-10 col-md-7">
                            <div class="d-flex flex-column h-100 bg-white p-4 text-secondary" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                                <h3 class="font-size-r1-4 font-weight-bold">Assessing the impact of cash transfer programs on women's empowerment in Tanzania</h3>
                                <p>This project examines how conditional cash transfers can help poor women overcome economic vulnerabilities, and assess their potential to transform household and community gender relations.</p>
                                <p><a class="btn btn-red" href="https://www.idrc.ca/en/project/assessing-impact-cash-transfer-programs-womens-empowerment-tanzania">Learn more <span class="sr-only">about Assessing the Impact of Cash Transfer Programs on Women's Empowerment in Tanzania</span></a></p>
                            </div>
                        </div>
                        <div class="w-100 py-3"></div>
                        <div class="col-10 col-md-4 h-100 bg-white">
                            <img class="img-fluid" src='{{ "/images/programs/about.png" | relURL }}' style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;" alt="">
                        </div>
                        <div class="col-10 col-md-7">
                            <div class="d-flex flex-column h-100 bg-white p-4 text-secondary" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                                <h3 class="font-size-r1-4 font-weight-bold">Growth and economic opportunities for women (GrOW) Research Series</h3>
                                <p>The GrOW Research Series is advancing scholarly research on women’s economic empowerment and economic growth in low-income countries.</p>
                                <p><a class="btn btn-red" href="http://grow.research.mcgill.ca">Learn more <span class="sr-only">about GrOW Research Series</span></a></p>
                            </div>
                        </div>
                        <div class="w-100 py-3"></div>
                        <div class="col-10 col-md-4 h-100 bg-white">
                            <img class="img-fluid" src='{{ "/images/programs/cash.jpg" | relURL }}' style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;" alt="">
                        </div>
                        <div class="col-10 col-md-7">
                            <div class="d-flex flex-column h-100 bg-white p-4 text-secondary" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                                <h3 class="font-size-r1-4 font-weight-bold">Cash transfers, fertility and women's empowerment</h3>
                                <p>This project evaluates whether the Peruvian Conditional Cash Transfer program JUNTOS has influenced mothers' fertility behaviour and bargaining power within the household.</p>
                                <p><a class="btn btn-red" href="https://sites.google.com/site/sonialaszlo/home/research">Learn more <span class="sr-only">about Cash transfers, fertility and women's empowerment</span></a></p>
                            </div>
                        </div>
                        <div class="w-100 py-3"></div>
                        <div class="col-10 col-md-4 h-100 bg-white">
                            <img class="img-fluid" src='{{ "/images/programs/myanmar.jpg" | relURL }}' style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;" alt="">
                        </div>
                        <div class="col-10 col-md-7">
                            <div class="d-flex flex-column h-100 bg-white p-4 text-secondary" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                                <h3 class="font-size-r1-4 font-weight-bold">Barriers and working pathways to women’s political participation in Myanmar</h3>
                                <p>This project will assess women’s role in the political process in Myanmar at both the state and federal levels. It is one of two studies being led by ISID Professor Franque Grimard under IDRC and Global Affairs Canada’s <em>Knowledge for Democracy Myanmar</em> initiative.</p>
                                <p><a class="btn btn-red" href="https://www.idrc.ca/en/initiative/knowledge-democracy-myanmar">Learn more <span class="sr-only">about Barriers and working pathways to women’s political participation in Myanmar</span></a></p>
                            </div>
                        </div>
                        <div class="w-100 py-3"></div>
                    </div>
                </div>
            </div>
        </section>-->
        
        <section id="research">
            <div class="container-fluid bg-light text-secondary py-5">
                <div class="container pb-5">
                    <h2 class="display-3 text-red pt-3 pb-5 text-center">Ongoing Research</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-5 my-3">
                            <div class="card h-100">
                                <img class="card-img-top" src='{{ "/images/programs/tanzania.jpg" | relURL }}' alt="Card image cap">
                                <div class="card-body bg-white">
                                  <h3 class="card-title font-size-r1-3 font-weight-bold">Assessing the impact of cash transfer programs on women's empowerment in Tanzania</h3>
                                  <p class="card-text">This project examines how conditional cash transfers can help poor women overcome economic vulnerabilities, and assess their potential to transform household and community gender relations.</p>
                                </div>
                                <div class="card-footer bg-white border-0">
                                    <p><a class="btn btn-red" href="https://www.idrc.ca/en/project/assessing-impact-cash-transfer-programs-womens-empowerment-tanzania">Learn more <span class="sr-only">about Assessing the Impact of Cash Transfer Programs on Women's Empowerment in Tanzania</span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 my-3">
                            <div class="card h-100">
                                <img class="card-img-top" src='{{ "/images/programs/about.png" | relURL }}' alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title font-size-r1-3 font-weight-bold">Growth and economic opportunities for women (GrOW) Research Series </h3>
                                    <p class="card-text">The GrOW Research Series is advancing scholarly research on women’s economic empowerment and economic growth in low-income countries.</p>
                                </div>
                                <div class="card-footer bg-white border-0">
                                    <p><a class="btn btn-red" href="http://grow.research.mcgill.ca">Learn more <span class="sr-only">about GrOW Research Series</span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-5 my-3">
                            <div class="card h-100">
                                <img class="card-img-top" src='{{ "/images/programs/cash.jpg" | relURL }}' alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title font-size-r1-3 font-weight-bold">Cash transfers, fertility and women's empowerment</h3>
                                    <p class="card-text">This project evaluates whether the Peruvian Conditional Cash Transfer program JUNTOS has influenced mothers' fertility behaviour and bargaining power within the household.</p>
                                </div>
                                <div class="card-footer bg-white border-0">
                                    <p><a class="btn btn-red" href="https://sites.google.com/site/sonialaszlo/home/research">Learn more <span class="sr-only">about Cash transfers, fertility and women's empowerment</span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 my-3">
                            <div class="card h-100">
                                <img class="card-img-top" src='{{ "/images/programs/myanmar.jpg" | relURL }}' alt="Card image cap">
                                <div class="card-body bg-white">
                                  <h3 class="card-title font-size-r1-3 font-weight-bold">Barriers and working pathways to women’s political participation in Myanmar</h3>
                                  <p class="card-text">This project will assess women’s role in the political process in Myanmar at both the state and federal levels. It is one of two studies being led by ISID Professor Franque Grimard under IDRC and Global Affairs Canada’s <em>Knowledge for Democracy Myanmar</em> initiative.</p>
                                </div>
                                <div class="card-footer bg-white border-0">
                                    <p><a class="btn btn-red" href="https://www.idrc.ca/en/initiative/knowledge-democracy-myanmar">Learn more <span class="sr-only">about Barriers and working pathways to women’s political participation in Myanmar</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </section>
        
        <section id="partners">
            <div class="container-fluid py-5">
                <div class="container py-5">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-9 text-center">
                            <h2 class="display-3 pb-4 text-dark-turqoise">Our Partners</h2>
                            <p class="text-secondary font-size-r1-5">We work collaboratively with researchers, policy makers and practitioners, including NGOs and CSOs, to address global forms of gender inequality. Our work is made possible by the generous support of our partners.</p>
                        </div>
                        <div class="w-100 pb-4"></div>
                        <div class="col-9 col-md-4 py-2 p-sm-5 p-md-2 p-lg-5">
                            <a rel="external" href="https://www.idrc.ca/" target="_blank"><img  class="img-fluid" src='{{  "/images/partners/idrc.jpg" | relURL }}' alt=""/><span class="sr-only">IDRC - International Development Research Centre</span></a>
                        </div>
                        <div class="col-9 col-md-4 py-5 p-sm-5 p-md-2 p-lg-5">
                            <a rel="external" href="http://www.mcgill.ca/isid/" target="_blank"><img class="img-fluid" src='{{  "/images/partners/isid.jpg" | relURL }}' alt=""/><span class="sr-only">Institute for the Study of International Development</span></a>
                        </div>
                        <div class="col-9 col-md-4 py-2 p-sm-5 p-md-2 p-lg-5">
                            <a rel="external" href="http://www.mcgill.ca/" target="_blank"><img class="img-fluid" src='{{  "/images/partners/mcgill.png" | relURL }}' alt=""/><span class="sr-only">McGill University</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="workwithus">
            <div class="container-fluid py-5 bg-light">
                <div class="container text-center py-5">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-9 text-center">
                            <h2 class="display-3 text-dark-turqoise pb-4">Work With Us</h2>
                            <p class="text-secondary font-size-r1-5 pb-4">We are always looking for dynamic partners from the academic, private and public sectors to work with us. Contact us for more information.</p>
                            <p><a class="btn btn-lg btn-red" href="mailto:kathleen.grantham@mcgill.ca?subject=Women's%20Empowerment%20in%20Development%20Lab">Email us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
    <footer>
        <div class="container-fluid bg-white py-5 border-top">
            <div class="container">
                <h2 class="sr-only">Site Footer Information</h2>
                <div class="row align-items-center">
                    <div class="col">
                        <p class="pt-3 pb-0">Copyright © 2018 McGill University</p>
                    </div>
                    <div class="col text-right">
                        <img src='{{ "images/brand/wed-lab.png" | relURL }}' width="120" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

{{ end }}